header{
    width: auto;
    height: auto;
    padding: 0%;
    font-size: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    gap: 500px;
}