.Miranda{
    font-size: 22px;
    padding: 0%;
    align-items: start;
    display: flex;
    gap: 22px;
}

.Examen2{
    font-size: 22px;
    color: aliceblue;
    background-color: black;
    align-items: end;
    display: flex;
    justify-content: end;
    gap: 22px;
}

.cuadrito1{
    width: 150px;
    height: 80px;
    border: 2px solid black;
    margin: 0 auto;
    background-color: aqua;
    justify-content: left;
    display: flex;
    border-radius: 20px;
}